{
  "mnemonic": "test test test",
  "accountsSecrets": [
    "governer_key",
    "guardian_key",
    "policy_key",
    "vault_key"
  ],
  "etherscanApiKey": "etherscan_api_key_value",
  "infuraKey": "infura_key_value"
}
